$navbar-height: 40px;
$nav-background-color: #358FB2;
$nav-button-width: 75px;

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
}
#linksf{
	max-width: 650px;
	margin: 0 auto;
}