#linksf {
  padding: 10px;
  background-color: #AAAAAA;
}

#results {
  font-size: 12px;
  background-color: #EEEEEE;
}

nav {
  background-color: #EEE;

  span {
    color: #FFF;
    .left { float: left; }
    .right { float: right; }
  }
}

