li {
  list-style-type: none;
}

// results
#results {
  font-size: 12px;
  background-color: #EEEEEE;
}

// nav bar
nav {
  width: 100%;
  background-color: #E3E3E3;
  height: 20px;

  a {
    color: #8C8080;
  }

  li {
    float: left;
    margin-right: 20px;
  }
}

// query form
form {
  input {
    margin-right: 10px;
  }
}

// list view
#facility-list {
  padding-left: 0px;

  .facility {
    border-bottom: solid #9B9B9B 1px;
  }

  .name {
    font-weight: bold;
  }

  .services {
    color: #185377;
  }
}

// detail view
#location-map{
  height: 200px;
  border: 5px solid white;
  margin: 4px;
}
#container{
  width: 90%;
  max-width: 500px;
  min-width: 290px;
  margin: 0 auto;
}
.round-shadow{
  border-radius: 15px;
  moz-border-radius: 15px;
  webkit-border-radius: 15px;
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px #CCC;
}
.address{
width: 80%;
margin: 0 auto;
text-align: center;
padding: 12px;
}
.info-row{
  width: 100%;
  display: block;
  padding: 17px;
}
.prevrow {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  display: block;
}
