$navbar-height: 60px;

li { list-style-type: none; }
ul { padding-left: 0px; }

#linksf {
  margin-top: $navbar-height;
}

// query form
form {
  // anchor to top, just below nav
  position: fixed;
  top: $navbar-height;
  left: 0;
  right: 0;

  background-color: #F5F5F5;

  input {
    margin: 5px 10px 0 10px;
  }

  h4 {
    margin: 10px 0 5px 10px;
  }
}

// list view
#facility-list {
  // default ul
  margin-top: 0px;

  padding-top: $navbar-height;

  .facility {
    border-bottom: solid #9B9B9B 1px;
    padding: 10px 0 10px 10px;

    p {
      margin: 5px;
    }
  }

  .services {
  }

  a {
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}

.facility-services {
  color: #185377;
  text-transform: capitalize;
}

.facility-address {
}

.facility-notes {
  height: 36px;
  color: #8F8F8F;
  overflow: hidden;
  text-overflow: ellipsis;
}
