.categories-header, .search-header {
  color: #666666;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

ul.categories {
  display: block;
  margin: 2px 0 0 0;
  padding-top: 5px;

  li {
    padding-bottom: 10px;

    .unselectable {
      user-select: none;
	  }
  }

  .chevron-container {
    float: right;
    margin-top: -2px;
  }
}
