.categoriesHeader {
  color: #666666;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

.categoryItem {
  padding-bottom: 10px;
}

.unselectable {
  user-select: none;
}

.chevronContainer {
  float: right;
  margin-top: -2px;
}

.categories {
  list-style-type: none;
  display: block;
  margin: 2px 0 0 0;
  padding-top: 5px;
  padding-left: 0;
}
