/node_modules
/build/*.js
/build/*.css
/tmp/*.js
/tmp/*.css
/tmp/*.html
/.sass-cache
/index.html
/admin.html
/s3cfg
.env
/server/config/global.json
.DS_Store
/server/cloud/cloud/mailgun_credentials.js
