.about-us {
  margin-top: $navbar-height + 30px;

  p {
    margin: 0;
    font-size: 15px;
  }

  p ~ p {
    margin-top: 10px;
  }

  .inset {
    margin: 0 auto;
    color: #666;
  }

  img {
    margin: 30px 10px 10px 15px;
    height: 50px;
  }
}

.credits {
  font-size: 12px;
  color: #ACACAC;
  text-align: center;
}
