.about-us {
  margin-top: $navbar-height + 10px;

  p {
    font-size: 15px;
  }

  .inset {
    margin: 0 auto;
    width: 90%;
    color: #666;
  }

  img {
    margin: 10px;
    height: 50px;
  }
}

.credits {
  font-size: 10px;
  color: #ACACAC;
  text-align: center;
}
