.about-us {
  margin-top: $navbar-height + 43px;

  p {
    text-align: center;
    font-size: 14px;
  }

  .inset {
    margin: 0 auto;
    width: 80%;
    color: #666;
  }

  img {
    margin: 10px;
    height: 60px;
  }
}

.credits {
  font-size: 10px;
  color: #ACACAC;
  text-align: center;
}
