@import 'shared/css/common.scss';
@import 'vendor/css/normalize.min.scss';
@import 'vendor/css/icons.scss';

@import 'app/css/about.scss';
@import 'app/css/categories.scss';
@import 'app/css/detail.scss';
@import 'app/css/filter.scss';
@import 'app/css/index.scss';
@import 'app/css/list.scss';
@import 'app/css/nav.scss';

body {
  font-family: "arial";
  background-color: #F3F3F3;
}

ul {
  padding-left: 0px;
  margin: 0 0 0 0;
}

#linksf {
  max-width: 650px;
  margin: 0 auto;
}

.btn-info{
  border: 1px solid #1C5E79;
}
