.categories-header, .search-header {
  color: #666666;
  font-size: 20px;
}

ul.filter-categories {
  display: block;
  margin: 2px 0 0 0;

  li {
    padding-bottom: 10px;

    .btn {
      border: 1px solid #B8B8B8;
      @include vertical-gradient(white, #EBEBEB);
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0;
      text-align: left;
      width: 100%;
    }

    .btn:active {
      @include vertical-gradient(darken(#EEE, 8%), darken(#D9D9D9, 8%));
      border-color: darken(#B8B8B8, 8%);
    }

    .btn.active {
      @include vertical-gradient(darken(#EEE, 8%), darken(#D9D9D9, 8%));
      border-color: darken(#B8B8B8, 8%);
    }

    i.category-icon {
      margin: 5px 10px;
    }

    .category-checkbox {
      background-color: white;
      border: 1px solid;
      float: right;
      height: 18px;
      margin: 2px 15px 0 0;
      padding: 1px 3px;
      width: 14px;
    }
  }
}
