.categories-header, .search-header {
  color: #666666;
  font-size: 20px;
}

ul.filter-categories {
  display: block;
  margin: 2px 0 0 0;

  li {
    padding-bottom: 10px;

    .btn {
      @include gray-button;
      cursor: pointer;
      padding: 10px 0;
      width: 100%;
    }

    i.category-icon {
      margin: 5px 10px;
    }

    .category-checkbox {
      background-color: white;
      border: 1px solid;
      float: right;
      height: 18px;
      margin: 2px 15px 0 0;
      padding: 1px 3px;
      width: 14px;
    }
  }
}
