.container {
  width: 95%;
  max-width: 700px;
  min-width: 290px;
  margin: ($navbar-height + 10px) auto 0 auto;
  padding-top: 5px;
}

.notes {
  background: #f3f3f3;
  padding: 8px;
  border-radius: 6px;
}

.facility-name {
  font-size: 24px;
  padding: 2px 0;
  margin-top: 6px;
}

.facility-info {
  font-size: 14px;

  p { margin: 0; }
  label { font-weight: bold; }
  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
  }

  .service-title { margin-top: 0; }

  .title {
    margin: 12px 0 0 1px;
  }

  .service-title, .title {
    color: #666;
    font-size: 18px;
    font-weight: normal;
  }

  .icon-right-open {
    color: #909090;
  }

  .inset { @include inset; }

  .inset-gmap {
    @include inset;
    border-radius: 6px;
    margin: 20px 0px 20px 0px;
    padding: 0;

    p {
      padding: 8px 8px 8px 12px;
    }

    .destination {
      border-top: 1px solid #DDD;
    }

    &:active {
      background-color: #ddd;
    }
  }
  .inset-website {
    @include inset;
    border-radius: 0px;
    border-top: none;
    color: black;
    text-decoration: none;
    span {
      width: 50%;
      text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      white-space: no-wrap;
      color: #777;
    }
  }

  .contact-info div.inset-header:nth-of-type(1) {
    border-radius: 6px 6px 0 0;
    margin-top: 20px;
  }

  .inset-call {
    @include inset;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -1px;
    margin-bottom: 0;
    border-bottom: 1px solid #DDD;
    a { font-weight: bold; }
    &:active {
      background-color: #ddd;
    }
    span {
      color: #777;
    }
  }

  .call-info {
    margin-top: 5px;
    margin-left: 25px;
    color: #777;
  }

  .inset-directions {
    cursor: pointer;
    @include inset;
    border-radius: 0 0 6px 6px;
    border-top: none;
    margin-top: -1px;

    a { font-weight: bold; }
    label { cursor: pointer; }
    &:active {
      background-color: #ddd;
    }
  }

  .inset-services {
    @include inset;
    margin-top: 12px;
    label { line-height: 2; }
    p {
        line-height: 1.5;
        margin-bottom: 10px;
    }
  }

  .open-hours {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
  }
}


#detail-gmap {
  height: 180px;
  padding: 1px;
  border-bottom: 1px solid #DDD;
}
