#filter {
  button {
    @include gray-button;
  }

  .categories {
    .chevron-container {
      display: none;
    }
  }

  .filter {
    .btn {
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      margin: 0px;
      float: left;
      border-right: none;
      border-radius: 0px;
    }

    .first {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .last {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: 1px solid #B8B8B8;
    }

    &.btn-group {
      padding-bottom: 15px;
      padding-top: 5px;
      height: 40px;
    }
  }

  .filter-demographics {
    .btn {
      padding: 10px 8px;
    }
  }

  .filter-sort.alert {
    color: #c09853;
    padding: 8px 35px 8px 14px;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
  }

  padding: $navbar-height+15px 20px 0 20px;

  .search {
    input[type=submit], button {
      @include gray-rounded-button;
      width: 100%;
      text-align: center;
      text-shadow: none;
      height: 50px;
      font-size: 20px;
    }
  }
}
