#filter {
  button {
    @include gray-button;
  }

  button.active {
    @include vertical-gradient(darken(#EEE, 8%), darken(#D9D9D9, 8%));
    border-color: darken(#B8B8B8, 8%);
  }

  ul.filter-categories {
    padding-bottom: 15px;
    padding-top: 5px;
  }

  .filter {
    .btn {
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      margin: 0px;
      float: left;
      border-right: none;
      border-radius: 0px;
    }

    .first {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .last {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: 1px solid #B8B8B8;
    }

    &.btn-group {
      padding-bottom: 15px;
      padding-top: 5px;
      height: 40px;
    }
  }

  .filter-demographics {
    .btn {
      font-size: 14px;
      padding: 10px 3px;
    }
  }

  .filter-sort.alert {
    color: #c09853;
    padding: 8px 35px 8px 14px;
    margin-bottom: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    @include border-radius(4px);
  }

  background-color: #F3F3F3;
  padding: $navbar-height+15px 20px 60px 20px;

  .search {
    button {
      @include blue-button;
      width: 100%;
      text-align: center;
      text-shadow: none;
      height: 50px;
      font-size: 20px;
    }

    button:active {
      @include vertical-gradient(darken($nav-background-color, 6%), darken(#19658C, 6%));
    }
  }
}
