#index {
  background-color: #F3F3F3;
  padding: ($navbar-height + 13px) 20px 20px 20px;

  .title {
    text-align: center;
  }

  .filter-name {
    margin: 10px 0 5px 0;
  }

  .search-input {
    width: 100%;
  }

  input {
    padding-left: 10px;
    border-radius: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E3E3E3;
    height: 30px;
  }
}

footer {
  text-align: center;
  margin-bottom: 20px;

  a {
    color: #ACACAC;
  }
}
