.facility-list {
  padding-top: $navbar-height + 65px;
  background-color: #F3F3F3;

  .not-found {
    margin: 20px 10px;
  }

  .facility {

    a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    p {
      margin: 4px 4px 4px 0;
    }

    .icon-right-open {
      color: #909090;
    }

    .facility-name {
      margin: 5px 0 3px 0;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
    }

    .facility-info {
      font-size: 13px;
      margin-top: 15px;
    }

    .facility-distance {
      color: #c3c3c3;
      margin: 4px 0;
      text-align: right;
    }

    .facility-categories {
      margin-top: 15px;
    }
  }
}

.label-status {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label-status {
  &.open {
    background-color: #468847; // green
  }

  &.closed {
    background-color: #b94a48;
  }

  &.unknown {
    background-color: blue; // red
  }
}
.query-representation {
  position: fixed;
  width: 100%;
  max-width: 650px;
}
.query-representation-content {
  margin-top: 53px;
  border-bottom: 1px solid #999;
  color: #7B7B7B;
  font-weight: bold;
  font-size: 14px;
  height: 37px;
  background-color: #FFF;
  background-image: linear-gradient(#FFF, #d8d8d8);
  background-image: -webkit-linear-gradient(#FFF, #d8d8d8);
  cursor: pointer;
  padding: 18px 5px 0 5px;
  >.open {
    margin-left: 10px;
    display: none;
  }
}
.more-options {
  float: right;
  width: 82px;
  padding-left: 10px;
  margin-top: -24px;
  border-left: 1px dotted #CCC;
  // height: 55px;
}

.list-header-item {
  opacity: 0.8;
}

#loading-spinner {
  display: none;
  height: 2000px;
  margin: 25px;
  margin-top: 85px;
}

#load-more {
  display: none;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 0px;
}

.icon-down-open {
  color: #909090;
}

.right-info {
  margin-right: 10px;
}
.chevron {
  font-size: 30px;
  margin-top: 20px;
}
.gray{
  color: #777;
  margin-left: 3px;
}
