.facility-list {
  .not-found {
    margin: 20px 10px;
  }

  .facility {

    a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    p {
      margin: 4px 4px 4px 0;
    }

    .icon-right-open {
      color: #909090;
    }

    .facility-name {
      margin: 5px 0 3px 0;
      text-decoration: none;
      font-size: 15px;
      font-weight: bold;
    }

    .facility-info {
      font-size: 13px;
      margin-top: 15px;
    }

    .facility-distance {
      color: #c3c3c3;
      margin: 4px 0;
      text-align: right;
    }

    .facility-categories {
      margin-bottom: 7px;
      display: inline-block;
    }
  }
}

.label-status {
  text-transform: capitalize;
  display: inline-block;
  padding: 2px 4px 0 0;
  font-size: 15px;
  line-height: 14px;
  color: #ABA9A9;
  white-space: nowrap;
  vertical-align: baseline;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.label-status {
  &.open {
    color: #468847; // green
  }

  &.closed {
    color: #b94a48;
  }

  &.unknown {
    color: blue; // red
  }
}

.sort-options { 
  margin-left: 10px;
}

.open-options {
  margin-left: 10px;
}

.query-representation {
  width: 100%;
  max-width: 650px;
}

.query-representation-content {
  margin-top: 53px;
  border-bottom: 2px solid #929292;
  color: #929292;
  font-weight: bold;
  font-size: 14px;
  background-color: #FFF;
  background-image: linear-gradient(#FFF, #d8d8d8);
  background-image: -webkit-linear-gradient(#FFF, #d8d8d8);
  padding: 5px 5px 0 5px;
  >.open {
    margin-left: 10px;
    display: none;
  }
}

.query-representation-content table {
  width: 100%;
}

.filter-toggle {
  padding: 5px 15px 15px 0px;
}

.more-options {
  float: right;
  font-size: 14px;
  text-align: right;
  cursor: pointer;
  // height: 55px;
  i {
    margin-top: -2px;
  }
}

.list-header-item {
  opacity: 0.8;
}

#loading-spinner {
  display: none;
  height: 2000px;
  margin: 25px;
  margin-top: 85px;
  text-align: center;
}

#load-more {
  display: none;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 0px;
}

.icon-down-open {
  color: #909090;
}

.right-info {
  margin-right: 10px;
}
.chevron {
  font-size: 15px;
  margin-right: 5px;
}
.gray{
  color: #777;
  margin-left: 3px;
}

