nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  height: $navbar-height;
  background-color: $nav-background-color;

  border-bottom: solid #2B7490 1px;
  text-align: center;
  font-weight: bold;
  padding: 8px 0 4px 0;

  max-width: 650px;
  margin: 0 auto;

  .nav-container {
    padding: 0 6px;

    a {
      color: #3081B7;
      text-decoration: none;
      font-weight: bold;
      padding-top: 4px;
    }

    li {
      float: left;
      margin: 20px 0 20px 20px;
    }

    button {
      @include blue-button;
    }

    button:active {
      @include vertical-gradient(darken($nav-background-color, 20%), darken(#19658C, 20%));
    }

    button.left { float: left; }
    button.right { float: right; }

    .title {
      line-height: 36px;
      font-size: 24px;
      color: white;
    }
    .logo {
      display: block;
      margin: 0 auto;
      width: 100px;
      img {
        width: 100%;
      }
    }
  }
}
