nav {
  height: $navbar-height;
  background-color: $background-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 8px 0 4px 0;

  border-bottom: 1px solid #DDDDDD;

  .nav-container {
    text-align: center;
    font-weight: bold;

    margin: 0 auto;

    max-width: 650px;

    a {
      color: #3081B7;
      text-decoration: none;
      font-weight: bold;
      padding-top: 4px;
    }

    li {
      float: left;
      margin: 20px 0 20px 20px;
    }

    button {
      @include gray-rounded-button;
    }

    .title {
      line-height: 36px;
      font-size: 24px;
      color: white;
    }
    .logo {
      display: block;
      margin: 0 auto;
      width: 100px;
      img {
        width: 100%;
      }
    }
  }
}
