.terms {
  margin-top: $navbar-height + 30px;

  h1 {
    text-align: center;
  }

  h2 {
    display: inline;
    text-decoration: underline;
    font-size: 1rem;
  }

  p {
    margin-bottom: 2rem;
  }
}
