<div class="query-representation">
  <div class="query-representation-content">
  {{#ifMultiple searchParams}}
    {{#each searchParams}}
      <i class="list-header-item category-icon icon-{{icon}}"></i>
    {{/each}}
  {{else}}
    {{#each searchParams}}
      <i class="list-header-item category-icon icon-{{icon}}"></i>
      <span>{{title}} </span>
    {{/each}}    
  {{/ifMultiple}}

    {{^searchParams}}
      <i class="list-header-item category-icon icon-th"></i>
      <span>All </span>
    {{/searchParams}}
    <div class="label-status open">open now</div>
    <div class="more-options"><p>More Options <i class="icon-right-open right"></i></p></div>
  </div>
</div>