<div class="query-representation">
  <div class="query-representation-content">
    <table>
      <tr>
        <td>Sort</td>
        <td>Open now</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="btn-group" data-toggle='buttons-radio'>
            <select id="sort-toggle" style="width: 64px;" class="query-representation-toggle">
              <option value="near">NEAR</option>
              <option value="name">NAME</option>
            </select>
          </div>
        </td>
        <td>
          <select id="open-toggle" class="query-representation-toggle">
            <option value="yes">YES</option>
            <option value="no">NO</option>
          </select>
        </td>
        <td class="more-options-td"><div class="more-options"><button class="more-options-button">OPTIONS</button></div></td>
      </tr>
    </table>
  </div>
</div>
