<div role="navigation" class="query-representation">
  <div title="filtering options" class="query-representation-content">
    <div class="filter-option" title="Choose what to sort results by">
      <label>Sort by</label>
        <div class="btn-group" data-toggle='buttons-radio'>
          <select id="sort-toggle" style="width: 64px;" class="query-representation-toggle">
            <option value="name">&nbsp;&nbsp;NAME</option>
            <option value="near">NEAR</option>
          </select>
        </div>
    </div>
    <div class="filter-option second" title="Choose whether to only show facilities open now">
      <label class="center">Open now</label>
      <div class="center">
        <select id="open-toggle" class="query-representation-toggle">
          <option value="yes">YES</option>
          <option value="no">&nbsp;&nbsp;NO</option>
        </select>
      </div>
    </div>
    <div class="more-options-td"><div class="more-options"><button class="more-options-button">OPTIONS</button></div></div>
  </div>
</div>
