<div class="about-us">
	<img src="img/link-sf.png" alt="Link-SF"/>
	<div class="inset">
    <p>
      Link-SF was thought up by staff at the Tenderloin Technology Lab, a partnership of San Francisco Network Ministries and the St. Anthony Foundation, as a means to connect those in need to the basic services around them.
    </p><p>
      Through our work, bridging the digital divide, offering free computer training and access, we observed an increase in the use of smart phones by our guests. Link-SF is our attempt to use mobile technology to assist those most in need. As community driven organizations, we strive to be on the forefront of innovative community programs.
    </p>
	</div>
  <img src="img/zendesk.png" alt="Zendesk, Inc."/>
	<div class="inset">
    <p>
      Zendesk is a cloud-based customer service platform. It is designed to be easy to use, easy to customize, and easy to scale. Frustrated with the state of enterprise customer service software in 2007, three Danish entrepreneurs sought out to create beautifully simple software that could change how any company interacted with its customers. Today more than 30,000 companies use Zendesk to provide service to more than 200 million people worldwide.
    </p><p>
      Zendesk has offices in eight countries, with headquarters in San Francisco. Funding from Charles River Ventures, Benchmark Capital, Goldman Sachs, GGV Capital, Index Ventures, Matrix Partners, and Redpoint Ventures. Learn more at <a href="https://www.zendesk.com">www.zendesk.com</a>.
    </p>
  </div>
</div>

<p class="credits">
  Icons by P.J. Onori, Daniel Bruce, and Dave Gandy, courtesy of <a href="http://fontello.com">fontello.com</a>
</p>
