<div class="about-us">
	<img src="img/link-sf.png" alt="Link-SF"/>
	<div class="inset">
    <p>
      Link-SF was inspired by staff at the <a href="http://www.tenderlointechnologylab.org/">Tenderloin Technology Lab</a> (TTL) as a means to connect those in need with the basic services around them.
    </p>
    <p>
      The TTL’s primary goal is to bridge the digital divide by offering free computer training and access.  Yet, after observing an increase in the use of smart phones by TTL guests (primarily low-income, homeless, and/or marginally housed), TTL staff brainstormed around ways to assist their target population outside of the TTL physical space by utilizing this new technology. Link-SF is a result of this process and is an attempt to use mobile technology to assist those most in need.
    </p>
    <p>
      As a community driven program, we strive to be on the forefront of innovative community projects.
    </p>
    <p>
      At the time in the initial stages of development the TTL was a partnership between San Francisco Network Ministries and the <a href="http://www.stanthonysf.org/">St. Anthony Foundation</a>. Link-SF and the TTL are now completely supported by the St. Anthony Foundation.
    </p>
	</div>
  <img src="img/zendesk.png" alt="Zendesk, Inc."/>
	<div class="inset">
    <p>
      Zendesk is a cloud-based customer service platform. It is designed to be easy to use, easy to customize, and easy to scale. Frustrated with the state of enterprise customer service software in 2007, three Danish entrepreneurs sought out to create beautifully simple software that could change how any company interacted with its customers. Today more than 30,000 companies use Zendesk to provide service to more than 200 million people worldwide.
    </p><p>
      Zendesk has offices in eight countries, with headquarters in San Francisco. Funding from Charles River Ventures, Benchmark Capital, Goldman Sachs, GGV Capital, Index Ventures, Matrix Partners, and Redpoint Ventures. Learn more at <a href="https://www.zendesk.com">www.zendesk.com</a>.
    </p>
  </div>
</div>

<p class="credits">
  Icons by P.J. Onori, Daniel Bruce, and Dave Gandy, courtesy of <a href="http://fontello.com">fontello.com</a>
</p>
