<div class="about-us">
	<img src="img/link-sf.jpg" alt="Link-SF"/>
	<div class="inset">
    <p>
      Link-SF was thought up by staff at the Tenderloin Technology Lab, a partnership of San Francisco Network Ministries and the St. Anthony Foundation, as a means to connect those in need to the basic services around them.
    </p><p>
      Through our work, bridging the digital divide, offering free computer training and access, we observed an increase in the use of smart phones by our guests. Link-SF is our attempt to use mobile technology to assist those most in need. As community driven organizations, we strive to be on the forefront of innovative community programs.
    </p>
	</div>
  <img src="img/zendesk.png" alt="Zendesk, Inc."/>
	<div class="inset">
    <p>
      Zendesk builds software that helps any organization deliver better customer service instantly. By enabling all companies to engage directly, honestly and openly with customers, companies and customers have much more meaningful relationships, and great service becomes lifetime customer relationships. More than 30,000 companies, such as Gilt Groupe, Disney and Box, use Zendesk to provide customer service to more than 200 million people worldwide.
    </p><p>
      Founded in 2007, and based in San Francisco, Zendesk has offices in six countries and funding from Charles River Ventures, Benchmark Capital, Goldman Sachs, GGV Capital, Index Ventures, Matrix Partners, and Redpoint Ventures. Learn more at <a href="https://www.zendesk.com">www.zendesk.com</a>.
    </p>
  </div>
</div>

<p class="credits">
  Icons by P.J. Onori, Daniel Bruce, and Dave Gandy, courtesy of <a href="http://fontello.com">fontello.com</a>
</p>
