<div class="container">
	<div class="feedback-error">There was a problem with your request.</div>
	<h2>Give us Feedback</h2>
	<form id="feedback-form">
		<div class="control-group">
			<label for="from_name">Your Name:</label>
			<input type="text" name="from_name"/>
		</div>
		<div class="control-group">
			<label for="from_email">Your Email:</label>
			<input type="text" name="from_email"/>
		</div>
		<div class="control-group">
			<label for="subject">Subject:</label>
			<input type="text" name="subject"/>
		</div>
		<div class="control">
			<label for="feedback-body">Message:</label>
			<textarea type="text" name="body"/>
		</div>
		<input type="submit" value="Submit">
	</form>
</div>