<div class="container">
	<div class="feedback-error">There was a problem with your request.</div>
	<h1 class="feedback-title">Give us Feedback</h1>
	<form id="feedback-form">
		<div class="control-group">
			<label for="from_name">Your Name:</label>
			<input tabindex="1" type="text" name="from_name" title="Provide your name" required/>
		</div>
		<div class="control-group">
			<label for="from_email">Your Email:</label>
			<input tabindex="2" type="text" name="from_email" title="Provide your email" required/>
		</div>
		<div class="control-group">
			<label for="subject">Subject:</label>
			<input tabindex="3" type="text" name="subject" title="Provide the subject" required/>
		</div>
		<div class="control">
			<label for="feedback-body">Message:</label>
			<textarea tabindex="4" type="text" name="body" title="Write your message here" required/>
		</div>
		<input type="hidden" name="user_agent"/>
		<button tabindex="5" type="submit" value="Submit">Send Feedback</button>
	</form>
</div>