<div id="filter">
  <span class="categories-header">Sort by</span>
  <div class="filter filter-sort btn-group" data-toggle="buttons-radio">
    {{#if distanceDisabled}}
      <button data-value="near" class="btn first" disabled>Distance</button>
      <button data-value="name" class="btn last active">Name</button>
    {{else}}
      <button data-value="near" class="btn first active">Distance</button>
      <button data-value="name" class="btn last">Name</button>
    {{/if}}
  </div>

  <span class="categories-header">Hours</span>
  <div class="filter filter-hours btn-group" data-toggle="buttons-radio">
    <button data-value="A" class="btn first active">All</button>
    <button data-value="open" class="btn last">Open Now</button>
  </div>

  {{#if distanceDisabled}}
    <div class="filter-sort alert">
      <strong>Distance disabled:</strong> current location unavailable
    </div>
  {{/if}}

  <span class="categories-header">Service</span>
  {{> filterCategories}}

  <span class="categories-header">Suitable for</span>
  <div class="filter filter-demographics btn-group" data-toggle="buttons-checkbox">
    <button data-value="C" class="btn first">Children</button>
    <button data-value="Y" class="btn">Teens/Youth</button>
    <button data-value="A" class="btn">Adults</button>
    <button data-value="S" class="btn last">Seniors</button>
  </div>

  <span class="categories-header">Welcome</span>
  <div class="filter filter-gender btn-group" data-toggle="buttons-radio">
    <button data-value="A" class="btn first active">All</button>
    <button data-value="M"  class="btn">Men</button>
    <button data-value="F"  class="btn last">Women</button>
  </div>

  <div class="search">
    <button class="btn btn-info search-button">Search</button>
  </div>
</div>
