<div title="Filter facilities" id="filter">
  <h1 id="sort_header" class="categories-header">Sort by</h1>
  <div id="sort_description" style="display:none">Select facilities sorted by name or near your current location</div>
  <div role="radiogroup" aria-labelledby="sort_header" aria-describedby="sort_description" class="filter filter-sort btn-group" data-toggle="buttons-radio">
    {{#if distanceDisabled}}
      <button role="radio" data-value="near" class="btn first" disabled>Distance</button>
      <button role="radio" data-value="name" class="btn last active">Name</button>
    {{else}}
      <button role="radio" data-value="near" class="btn first active">Distance</button>
      <button role="radio" data-value="name" class="btn last">Name</button>
    {{/if}}
  </div>

  {{#if distanceDisabled}}
    <div class="filter-sort alert">
      <strong>Distance disabled:</strong> current location unavailable
    </div>
  {{/if}}

  <h1 id="hours_header" class="categories-header">Hours</h1>
  <div id="hours_description" style="display:none">Select showing only facilities that are open now or all facilities</div>
  <div role="radiogroup" aria-labelledby="hours_header" aria-describedby="hours_description" class="filter filter-hours btn-group" data-toggle="buttons-radio">
    <button role="radio" data-value="A" class="btn first active">All</button>
    <button role="radio" data-value="open" class="btn last">Open Now</button>
  </div>

  <div title="Select one or more services provided by the facility">
    <h1 class="categories-header">Service</h1>
    {{> filterCategories}}
  </div>

  <h1 id="suitable_header" class="categories-header">Suitable for</h1>
  <div id="suitable_description" style="display:none">Select one or more groups which facility is suitable for</div>
  <div role="group" aria-labelledby="suitable_header" aria-describedby="suitable_description"
       class="filter filter-demographics btn-group" data-toggle="buttons-checkbox">
    <button role="checkbox" data-value="C" class="btn first">Children</button>
    <button role="checkbox" data-value="Y" class="btn">Youth</button>
    <button role="checkbox" data-value="A" class="btn">Adults</button>
    <button role="checkbox" data-value="S" class="btn last">Seniors</button>
  </div>

  <h1 id="gender_header" class="categories-header">Welcome</h1>
  <div id="gender_description" style="display:none">Select allowed gender</div>
  <div role="radiogroup" aria-labelledby="gender_header" aria-describedby="gender_description"
       class="filter filter-gender btn-group" data-toggle="buttons-radio">
    <button role="radio" data-value="A" class="btn first active">All</button>
    <button role="radio" data-value="M"  class="btn">Men</button>
    <button role="radio" data-value="F"  class="btn last">Women</button>
  </div>

  <div class="search">
    <button class="btn btn-info search-button">Search</button>
  </div>
</div>
