<div id="index">
  <h3 class="title">What service are you looking for?</h3>

  <form id="search-form">
    <input type="submit" style="display:none;">
    {{> filterCategories}}

    <input id="search-term" class="search-input" type="text" placeholder="Search by facility name...">
  </form>
</div>

