.locationEditBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.selectableButton:active {
  border: 1px solid #ccc;
  background-color: #e5e5e5;
}

.selectableButtonActive{
  background-color: #999;
  color: white;
}

.sectionLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
