// constants

$navbar-height: 40px;
$nav-background-color: #358FB2;
$nav-button-width: 75px;

// mixins

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
}

@mixin gray-button {
  @include unselectable;
  @include vertical-gradient(white, #EBEBEB);
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

@mixin blue-button {
  @include unselectable;
  @include vertical-gradient($nav-background-color, #19658C);
  height: 36px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: black 1px 1px;
  width: $nav-button-width;
  border: 1px solid #0D2D39;
  border-radius: 6px;
}

@mixin unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin inset {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #DDD;
  padding: 10px;
  cursor: pointer; 
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// mixin classes

.inset {
  @include inset;
}

.unselectable {
  @include unselectable;
}

// resets

li {
  list-style-type: none;
}

// common classes

.title {
  margin: 12px 0 0 1px;
  color: #666;
  font-size: 18px;
}

.facility-list {
  margin: 0;

  .facility {
    border-bottom: solid #9B9B9B 1px;
    padding: 10px;
  }
}

.facility-services {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  i {
    margin: 0 2px 0;
  }
}

.right {
  float: right;
}

.open-hours {
  padding: 5px 10px;
  font-size: 14px;

  .label-hour {
    padding-right: 10px;
    text-align: right;
  }
}

#errorMessages{
  background-color: #F7D6D6;
  border: 2px solid #C95F5F;
  width: 327px;
  margin: 10px 0 20px 70px;
  padding-top: 10px;
  border-radius: 4px;
  color: #C95F5F;
  display: none;
}