// constants

$background-color: white;
$navbar-height: 40px;
$nav-button-width: 75px;

// mixins

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
}

@mixin gray-button {
  @include unselectable;
  @include vertical-gradient(white, #EBEBEB);
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;

  &:active {
    @include vertical-gradient(darken(#EEE, 8%), darken(#D9D9D9, 8%));
    border-color: darken(#B8B8B8, 8%);
  }

  &.active {
    @include vertical-gradient(darken(#EEE, 8%), darken(#D9D9D9, 8%));
    border-color: darken(#B8B8B8, 8%);
  }
}

@mixin blue-button {
  @include unselectable;
  @include vertical-gradient(#358FB2, #19658C);
  height: 36px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-shadow: black 1px 1px;
  width: $nav-button-width;
  border: 1px solid #0D2D39;
  border-radius: 6px;


  &:active {
    @include vertical-gradient(darken(#358FB2, 10%), darken(#19658C, 10%));
  }

  &.left {
    float: left;
    position: relative;
    left: 5px;
  }

  &.right {
    float: right;
    position: relative;
    right: 5px;
  }
}

@mixin gray-rounded-button {
  @include unselectable;
  background-color: #F3F3F3;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  color: #989898;
  font-size: 15px;
  padding: 8px 13px;

  &.left {
    float: left;
    position: relative;
    left: 5px;
  }

  &.right {
    float: right;
    position: relative;
    right: 5px;
  }
}

@mixin unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@mixin inset {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #DDD;
  padding: 14px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Flexible box attributes

@mixin align-self($alignment) {
  align-self: $alignment;
  -ms-flex-item-align: $alignment;
  -webkit-align-self: $alignment;
}

@mixin display-flex {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}

@mixin flex($options) {
  flex: $options;
  -webkit-flex: $options;
  -moz-flex: $options;
  -ms-flex: $options;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin order($num) {
  order: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
};

// mixin classes

.inset {
  @include inset;
}

.unselectable {
  @include unselectable;
}

// resets

li {
  list-style-type: none;
}

// common classes

.title {
  margin: 12px 0 11px 1px;
  color: #666;
  font-size: 18px;
}

.facility-list {
  margin: 0;

  .facility {
    border-bottom: solid #DDDDDD 1px;
    padding: 10px 0 10px 8px;

    .facility-item-link {
      @include display-flex;
      @include flex-direction(row);

      .facility-item-box-info {
        @include flex(1 1 auto);
        @include order(0);
      }

      .facility-item-box-caret {
        @include align-self(center);
        @include flex(0 0 auto);
        @include order(1);
        float: right;
        margin-top: -10px;

        .chevron {
          margin-top: 0;
        }
      }
    }
  }
}

.facility-services {
  font-size: 14px;
  color: #ABA9A9;
  text-transform: capitalize;
}

.right {
  float: right;
}

.open-hours {
  padding: 5px 10px;
  font-size: 14px;

  .label-hour {
    padding-right: 10px;
  }
}

#errorMessages {
  background-color: #F7D6D6;
  border: 2px solid #C95F5F;
  width: 327px;
  margin: 10px 0 20px 70px;
  padding-top: 10px;
  border-radius: 4px;
  color: #C95F5F;
  display: none;
}

// Icons
.icon-desktop { color: #CBAA4B }
.icon-droplet { color: #7E7485 }
.icon-food { color: #9EA861; }
.icon-home { color: #62919C; }
.icon-plus { color: #A97A60 }

.icon-left-open.back {
  color: #DADADA;
  font-size: 14px;
  font-weight: lighter;
  margin: 0 1px 0 -5px;
}
