.category {
  background-color: white;
  border: none;
  border-radius: 8px;
  font-size: 40px;
  text-align: left;
  cursor: pointer;
  height: 113px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.category:active,
.category:hover,
.category:focus,
.category:visited {
  color: inherit;
}

.categoryIcon {
  display: inline-block;
  text-align: center;
  min-width: 35px;
  margin: 0 10px;
}

.rightCaret {
  float: right;
}
