.nav {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  color: #ACACAC;
  margin: 0 4px;
  text-decoration: none;
}

.footer {
  max-width: 650px;
  margin: 0 auto;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
  color: #ACACAC;
}
