html {
  background-color: rgb(248, 248, 248);
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 160px;
  font-size: 16px;
}

.container {
  background: #F8F8F8;
}

.body {
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

.center {
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

.contentTopSpace {
  height: 12px;
}

.content {
  max-width: 768px;
  width: 100%;
}

.adminContent {
  width: 100%;
}
