.header {
  height: 128px;
  border-bottom: 2px solid rgb(204, 204, 204);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.navTopSpace {
  height: 40px;
}

.navContent {
  flex-grow: 2;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.logoImg {
  width: 130px;
}

.backContainer {
  flex-basis: 20%;
}

.spacer {
  flex-basis: 20%;
}

.logoContainer {
  flex-basis: 20%;
  text-align: center;
}

.currentUser {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.currentUserDetails {
  float: left;
}

.logout {
  float: right;
}

.back {
  cursor: pointer;
  text-decoration: none;
  background-color: #F3F3F3;
  border: 1px solid #DCDCDC;
  border-radius: 25px;
  color: #989898;
  font-size: 15px;
  padding: 8px 13px;
}
