.header {
  height: 64px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.navTopSpace {
  height: 20px;
}

.navContent {
  padding: 0 9px;
  height: calc(100% - 20px); /* -20 from 20px navTopSpace */
  overflow: hidden;
  width: calc(100% - 18px); /* -18 for 2x padding 9px */
}

.backContainer {
  display: inline-block;
  vertical-align: bottom;
  width: 33%;
}

.logoContainer {
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
  width: 33%;
}

.filterContainer {
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  width: 33%;
}

.back {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 122, 255);
  font-size: 17px;
  vertical-align: middle;
  display: inline-block;
}

.backArrow {
  width: 13px;
  height: 22px;
  stroke: rgb(0, 122, 255);
  stroke-width: 3px;
  vertical-align: middle;
}

.backText {
  padding: 0 13.3px;
  vertical-align: middle;
}

.logoImg {
  height: 20px;
}

.filter {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 122, 255);
  font-size: 17px;
}

.currentUser {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.currentUserDetails {
  float: left;
}

.logout {
  float: right;
}
