.header {
  height: 128px;
  border-bottom: 2px solid rgb(204, 204, 204);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.navTopSpace {
  height: 40px;
}

.navContent {
  flex-grow: 2;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}

.backContainer {
  flex-basis: 33%;
  display: flex;
  align-items: center;
}

.logoContainer {
  flex-basis: 34%;
  text-align: center;
}

.filterContainer {
  flex-basis: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.back {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 122, 255);
  font-size: 34px;
  display: flex;
  align-items: center;
}

.backArrow {
  width: 25px;
  height: 43px;
  stroke: rgb(0, 122, 255);
  stroke-width: 5px;
}

.backText {
  padding: 0 13.5px;
}

.logoImg {
  height: 40px;
}

.filter {
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 122, 255);
  font-size: 34px;
  display: flex;
  align-items: center;
}

.currentUser {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.currentUserDetails {
  float: left;
}

.logout {
  float: right;
}
