<ul title="Services" class="categories btn-group">
  {{#each categories}}
    <li class="unselectable">
      <button role="link" class="category btn" data-value="{{key}}" aria-label="Look for {{title}} services">
        <i class="category-icon icon-{{icon}}"></i>{{title}}
        <div class="chevron-container">
          <i class="icon-right-open-2 chevron"></i>
        </div>
      </button>
    </li>
  {{/each}}
</ul>
