<table class="open-hours">
  <caption style="display: none;">Open hours</caption>
  {{#each condensedHours}}
    {{#if hours}}
      <tr>
        <td class="label-hour"><b>{{day}}</b>:</td>
        <td class="hour">{{hours}}</td>
      </tr>
    {{/if}}
  {{/each}}
</table>
