.categoryIcon {
  display: inline-block;
  text-align: center;
  min-width: 35px;
  margin: 0 10px;
}

.leftButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.middleButton {
  border: 1px 0px solid #b8b8b8;
}

.rightButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button {
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  padding: 10px;
  background-color: #fff;
  background-image: linear-gradient(white,#EBEBEB);
}

.service {
  background-color: #fff;
  background-image: linear-gradient(white,#EBEBEB);
  border: 1px solid #B8B8B8;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
}
