.locationEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 20%);
}

.addressBox {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.group {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  vertical-align: middle;
  box-shadow: inset 0 1px 3px #ddd;
  color: #777;
}

.servicesBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.locationFields {
  display: flex;
  flex-direction: column;
  border-radius: 4px 4px 0 0;
  width: 350px;
}

.sectionLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  padding: 20px;
  height: 40px;
  display: flex;
}

.submitBtn {
  padding: .5em 1em;
  color: #444;
  border: 1px solid #999;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}
