{
    "applications": {
        "<%= parseAppName %>": {
            "applicationId": "<%= parseAppId %>",
            "masterKey": "<%= parseMasterKey %>"
        }
    },
    "global": {
        "parseVersion": "1.2.12"
    }
}
