{
    "applications": {
        "<%= parseAppName %>": {
            "applicationId": "<%= parseAppId %>",
            "masterKey": ""
        },
        "_default": {
          "link": "<%= parseAppName %>"
        }
    },
    "global": {
        "parseVersion": "1.2.12"
    }
}
