#linksf {
  padding-top: $navbar-height;
}

.facility-list {
  padding-top: 10px;
}

.service-edit-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.service-edit-row div {
  margin: 5px;
}

.service-edit-row label {
  font-color: #333333;
}

#loginError {
  display: none;
}

.clear { clear: both; }
