
$navbar-height: 60px;


#linksf {
  padding-top: $navbar-height;
}

.service-edit-row {
  margin-left: 20px;
  margin-right: 20px;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}

.service-edit-row div {
  padding: 5px;
}
