<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Link-SF</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="San Francisco website that connects homeless and low-income residents with critical and life-saving resources" />
    <link rel="stylesheet" href='<%= appCss %>'>
    <script>
      var config = {
        parseAppId: '<%= parseAppId %>',
        parseJsKey: '<%= parseJsKey %>',
        gaToken: '<%= gaToken %>',
        gaHost: '<%= gaHost %>'
      };
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', config.gaToken, config.gaHost);
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <nav role="navigation">
      <div>
        <div class="nav-container">
          <a class="logo" href="#"><img role="link" src="../img/link-sf.png" alt="San Francisco website that connects homeless and low-income residents with critical and life-saving resources"/></a>
        </div>
      </div>

    </nav>
    <main role="main" id="linksf" aria-live="assertive" aria-atomic="true"></main>
    <footer>
      <a title="Terms and conditions for using Link-SF" href="#/terms">Terms</a>&nbsp;&nbsp;
      <a title="Provide feedback about Link-SF" href="#/feedback">Feedback</a>&nbsp;&nbsp;
      <a title="More information about Link-SF" href="#/about">About</a>
    </footer>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDdHRnaDD-_z2aNUqyxxCoRBAf6PWZjS4&sensor=true&libraries=geometry"></script>
    <script src="<%= appJs %>"></script>
  </body>
</html>
