.location {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DCDCDC;
  font-size: 15px;
  padding: 10px 0 16px 8px;
}

.locationBox {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding-right: 10px
}

.locationAndCaret {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 25px
}

.locationLink {
  text-decoration: none;
  color: #000;
  display: block;
}

.distanceText {
  display: inline-block;
  padding: 2px 4px 0 0;
  line-height: 14px;
  font-size: 15px;
  color: #ABA9A9;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
}

.locationIcon {
  color: #909090;
}

.locationInfo {
  display: flex;
}

.locationName {
  padding: 5px 10px 3px 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.locationStatus {
  font-size: 15px;
  margin-right: 5px;
  padding-top: 3px;
  width: 100%;
  display: inline-block;
}

.locationDistance {
  color: #c3c3c3;
  padding: 4px 0;
  text-align: right;
  font-size: 12px
}

.categoryIcons {
  display: flex;
  color: #999999;
  font-size: 15px
}

.rightCaret {
  color: #CCCCCC;
}

.locationContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.locationStatusBox {
  text-align: end;
  display: flex;
  flex-flow: row nowrap;
}

.locationStatusContainer {
  flex:4;
}

.locationItemBoxCaret {
  flex:1;
  vertical-align: top;
  margin-top: 3px;
}
