.location {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DCDCDC;
  font-size: 8px;
  padding: 5px 0 8px 4px;
}

.locationBox {
  display: flex;
  flex-direction: column;
}

.locationAndCaret {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locationLink {
  text-decoration: none;
  color: #000;
  display: block;
}

.distanceText {
  display: inline-block;
  padding: 1px 2px 0 0;
  font-size: 8px;
  line-height: 7px;
  color: #ABA9A9;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 2px;
}

.locationIcon {
  color: #909090;
}

.locationInfo {
  display: flex;
}

.locationName {
  padding: 3px 0 2px 0;
  text-decoration: none;
  font-size: 8px;
  font-weight: bold;
}

.locationStatus {
  font-size: 8px;
  margin-right: 3px;
}

.locationDistance {
  color: #c3c3c3;
  padding: 2px 0;
  text-align: right;
}

.categoryIcons {
  display: flex;
}

.rightCaret {
  float: right;
}
