.location {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #DCDCDC;
  font-size: 15px;
  padding: 10px 0 16px 8px;
}

.locationBox {
  display: flex;
  flex-direction: column;
}

.locationAndCaret {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locationLink {
  text-decoration: none;
  color: #000;
  display: block;
}

.distanceText {
    display: inline-block;
    padding: 2px 4px 0 0;
    font-size: 15px;
    line-height: 14px;
    color: #ABA9A9;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}

.locationIcon {
  color: #909090;
}

.locationInfo {
  display: flex;
  justify-content: space-between;
}

.locationName {
  padding: 5px 0 3px 0;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

.locationStatus {
  font-size: 13px;
}

.locationDistance {
  color: #c3c3c3;
  padding: 4px 0;
  text-align: right;
}

.categoryIcons {
  display: flex;
}

.rightCaret {
  float: right;
}
