.switch {
  display: inline-block;
  border: solid 1px #777;
  position: relative;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  background: #f3f3f3;
  border-radius: 18px;
  border-color: #dbdbdb;
}

.switch:focus {
  border-color: #8aade1;
  box-shadow: 0 0 5px #8aade1; /* CSS3 browsers */
  outline: none;
}

.on:hover,
.off:hover {
  color: white;
  text-decoration: none;
}

.switch * {
  user-select: none;
}

.handle {
  display: block;
  height: 29px;
  width: 30px;
  position: absolute;
  top: -7px;
  left: -19px;
  background-size: 30px 30px;
  border-radius: 15px;
  border: solid 1px #d2d2d2;
  background-color: #fff;
  box-shadow: 0 3px 3px #929292;
  left: 45px;
}

.disabled {
  border-color: #999;
  cursor: default;
}

.switchMiddle {
  height: 20px; width: 60px;
  border: solid 7px rgb(243,243,243);
  position: relative;
  margin-top: -34px;
  z-index: 100;
  border-radius: 17px;
  width: 72px;
}

.mask {
  height: 30px;
  padding: 2px 3px;
  overflow: hidden;
}

.container {
  height: 24px;
  position: relative;
  left: 10px;
  left: -2px;
}

.switchUpper {
  height: 20px; width: auto;
  margin: 5px;
  position: absolute;
  z-index: 101;
}

.disabled .handle:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0; left: 0;
  height: 29px; width: 30px;
  background: white;

  filter: alpha(opacity=50); /* IE 5-7 */
  opacity: 0.5; /* Good browsers */

  border-radius: 15px;
}

.switchLower {
  height: 20px; width: 1000px;
  margin: 5px;
  position: absolute;
  z-index: 99;
}

.labels {
  clear: both;
}

.on, .off {
  display: block;
  float: left;
  line-height: 18px;
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  background: rgb(243,243,243);
  color: rgb(50,50,50);

  border-radius: 10px;
}

.on {
  border-right: none;
  background: rgb(243,243,243);
  padding-right: 20px;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 29px;
}

.off {
  border-left: none;
  border-color: #660000;
  padding-left: 20px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: rgb(243,243,243);
  width: 29px;
}

.disabled .on,
.disabled .off {
  border-color: #333;

  filter: alpha(opacity=50);
  opacity: 0.5;

  /*background: linear-gradient(top,  #525252 0%,#3e3e3e 2%,#545454 10%,#5d5d5d 17%,#787878 90%,#757575 98%,#525252 100%); /* W3C */*/
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#525252',GradientType=0 ); /* IE6-9 */
}
