.toggleButton {
  border: solid 1px #777;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  background: #f3f3f3;
  border-radius: 3px;
  border-color: #dbdbdb;
  padding: 10px 22px;
}

.enabled {
  background: #007aff;
}
