.toggleButton {
  border: solid 1px #777;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  background: #f3f3f3;
  border-radius: 2px;
  border-color: #dbdbdb;
  padding: 5px 11px;
}

.toggleButton:first-child {
  margin-right: 10px
}

.enabled {
  background: #007aff;
  color: #FFF;
}
