@mixin inset {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #DDD;
  padding: 8px;
}

.container {
  width: 95%;
  max-width: 700px;
  min-width: 290px;
  margin: ($navbar-height + 10px) auto;
  padding-top: 5px;

  h3 {
    font-size: 24px;
    padding: 2px 0 2px 0;
  }
}

.facility-info {
  p {
    margin: 0;
    font-size: 14px;
  }

  .title {
    margin: 12px 0 0 1px;
    color: #666;
    font-size: 18px;
  }

  .inset {
    background-color: white;
    border-radius: 6px;
    border: 1px solid #DDD;
    padding: 8px;
  }

  .inset-gmap {
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #DDD;
    margin: 20px 0px 1px 0px;

    p {
      padding: 8px 8px 8px 12px;
    }
  }
}

#detail-gmap {
  height: 180px;
  padding: 1px;
  border-bottom: 1px solid #DDD;
}

.seeMore{
  padding: 7px 17px 17px 17px;
  background: #F6F6F6;
}
