.facility-header {
  height: 72px;
  font-size: 18px;
  color: #848080;
  background-color: #E3E3E3;
  padding-top: 9px;
  padding-left: 10px;
  border-bottom: solid #9B9B9B 1px;
  span{
    float: left;
  }
}
#backNav{
  float: right;
  margin: 5px 20px 2px;
  border-radius: 4px;
  background: #ccc;
  width: 160px;
  height: 40px;  
  hover{background: #bbb;}
}

#location-map{
  height: 200px;
  border: 5px solid white;
  margin: 4px;
}

#container{
  // margin-top: $navbar-height
  width: 90%;
  max-width: 500px;
  min-width: 290px;
  margin: 0 auto;
  padding-top: 5px;
}


#facility-main-info {
  td {
    padding: 5px;
  }

  td.title {
    font-weight: bold;
    vertical-align: top;
  }
}

.round-shadow{
  border-radius: 15px;
  moz-border-radius: 15px;
  webkit-border-radius: 15px;
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px #CCC;
}

.address{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
}

.info-row{
  width: 100%;
  display: block;
  padding: 17px;
  box-sizing: border-box;
}

.prevrow {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  display: block;
}
.seeMore{
  padding: 17px;
  background: #F6F6F6;
  display: none;
}
.more {
  height: 20px;
  width: 20px;
  float: right;
  background: #eee;
  display: block;
  margin-top: -15px;
}
