$header-color: #358FB2;
$nav-button-width: 80px;

@mixin vertical-gradient($from, $to) {
  background-color: $from;
  background-image: linear-gradient($from, $to);
  background-image: -webkit-linear-gradient($from, $to);
}

.facility-header {
  height: 52px;
  background-color: $header-color;
  border-bottom: solid #2B7490 1px;
  text-align: center;
  padding: 12px ($nav-button-width + 10px) 0 10px;
  font-weight: bold;
  color: white;

  .title {
    line-height: 40px;
    font-size: 30px;
  }

  .results-button {
    @include vertical-gradient($header-color, #19658C);
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: black 1px 1px;
    width: $nav-button-width;
    border: 1px solid #0D2D39;
    border-radius: 6px;
    float: left;
  }
}


#location-map{
  height: 200px;
  border: 5px solid white;
  margin: 4px;
}

#container{
  // margin-top: $navbar-height
  width: 90%;
  max-width: 500px;
  min-width: 290px;
  margin: 0 auto;
  padding-top: 5px;
}


#facility-main-info {
  td {
    padding: 5px;
  }

  td.title {
    font-weight: bold;
    vertical-align: top;
  }
}

.round-shadow{
  border-radius: 15px;
  moz-border-radius: 15px;
  webkit-border-radius: 15px;
  border: 1px solid #cdcdcd;
  margin-bottom: 15px;
  box-shadow: 0 1px 10px #CCC;
}

.address{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 12px;
}

.info-row{
  width: 100%;
  display: block;
  padding: 17px;
  box-sizing: border-box;
}

.prevrow {
  background-color: #ccc;
  height: 1px;
  width: 100%;
  display: block;
}

.seeMore{
  padding: 7px 17px 17px 17px;
  background: #F6F6F6;
}
