#filter {
  .filter .btn {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0px;
  }

  background-color: #F3F3F3;
  padding: $navbar-height 20px 60px 20px;

  nav {
    background-color: #358FB2;
    color: white;
    text-align: center;
    padding: 5px;

    button {
      margin-top: 15px;
    }

    .back {
      float: left;
    }

    .search {
      float: right;
    }
  }

  .search {
    button {
      margin-top: 20px;
      padding: 10px 0;
      width: 100%;
    }
  }
}