#index {
  background-color: #F3F3F3;
  padding: $navbar-height 20px 60px 20px; // 58px is navbar height, 12px padding-top navbar

  .title {
    margin: 20px 0;
  }

  .search-button {
    margin-top: 20px;

    button {
      padding: 10px 0;
      width: 100%;
    }
  }

  .categories button.category {
    border: 1px solid #cbcbcb;
  }

  .search {
    margin-bottom: 10px;

    input {
      font-size: 20px;
      padding-left: 10px;
    }

    .add-on {
      padding: 4px 10px;
    }

    .add-on, input {
      height: 34px;
      line-height: 34px;
      vertical-align: middle;
    }
  }
}
