#index {
  background-color: #F3F3F3;
  padding: 58px 20px 60px 20px; // 58px is navbar height

  nav {
    background-color: #358FB2;
    color: white;
    text-align: center;
  }

  .title {
    margin: 20px 0;
  }

  .search {
    margin-top: 20px;

    button {
      padding: 10px 0;
      width: 100%;
    }
  }

  .categories-header {
    color: #666666;
    font-weight: 20px;
  }
}
