#index {
  background-color: #F3F3F3;
  padding: 58px 20px 60px 20px; // 58px is navbar height

  nav {
    background-color: #5bc0de;
    color: white;
    text-align: center;
  }

  .title {
    margin: 20px 0;
  }

  .search {
    margin-top: 20px;

    button {
      padding: 10px 0;
      width: 100%;
    }
  }

  ul.categories {
    margin: 0;

    li {
      padding-bottom: 10px;

      .btn {
        border: 0;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
        text-align: left;
        width: 100%;
      }
      i {
        margin: 5px 10px;
      }
    }
  }
}
