
.facility-list {
  margin: 0;
  padding-top: $navbar-height + 45px;
  background-color: #F3F3F3;

  .facility {
    border-bottom: solid #9B9B9B 1px;
    padding: 10px 0 10px 10px;

    a {
      text-decoration: none;
      color: #000;
      display: block;
    }

    p {
      margin: 4px 4px 4px 0;
    }

    .facility-name {
      margin: 5px 0 3px 0;
      text-decoration: underline;
      font-size: 18px;
      font-weight: bold;
    }

    .facility-address {
      font-size: 12px;
      margin-bottom: 8px;
    }

    .facility-services {
      font-size: 14px;
      font-weight: bold;
      text-transform: capitalize;
      i {
        margin: 0 2px 0;
      }
    }
  }
}

@mixin facility-status {
  float: right;
  padding-right: 10px;
  text-transform: capitalize;
}

.open {
  @include facility-status;
  color: #25BD2B; // green
}

.closed {
  @include facility-status;
  color: #C43D29; // red
}

.unknown {
  @include facility-status;
  color: blue; // red
}

.query-representation {
  margin-top: $navbar-height + 13px;
  padding: 8px 0 8px 8px;
  background-color: #E0E0E0;
  border-bottom: 1px solid #999999;
  color: #7B7B7B;
  font-weight: bold;
  font-size: 14px;
  position: fixed;
  width: 100%;
  max-width: 650px;
}

.list-header-item {
  opacity: 0.8;
}

#loading-spinner {
  display: none;
  height: 75px;
  margin: 25px;
}

#load-more-container {
  display: none;
}

#load-more {
  margin: 10px;
}
