.query {
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #bbb;

  .actions {
    text-align: right;
    .dismiss {
      margin-right: 25px;
      color: red;
    }
  }
  .query-option {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    color: #49afcd;

    &.selected {
      background-color: #49afcd;
      border-radius: 4px;
      color: white;
    }
  }
}

.facility-list {
  // default ul
  padding-top: $navbar-height + 30px;
  margin: 0;
  background-color: #F3F3F3;

  .facility {
    border-bottom: solid #9B9B9B 1px;
    padding: 10px 0 10px 10px;

    p {
      margin: 4px;
    }
  }

  .services {
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.facility-name {
  margin: 5px 0 3px 4px;
}

.facility-services {
  color: #185377;
  text-transform: capitalize;
}

.facility-services i{
  margin-top: 0;
}

.facility-notes {
  height: 38px;
  color: #8F8F8F;
  overflow: hidden;
  text-overflow: ellipsis;
}

.facility-item-link {
  height: 100%;
  width: 100%;
  display: block;
}

@mixin facility-status {
  float: right;
  padding-right: 10px;
  text-transform: uppercase;
}

.facility-status-open {
  @include facility-status;
  color: #25BD2B; // green
}

.facility-status-closed {
  @include facility-status;
  color: #C43D29; // red
}

#queryRepresentation{
    margin-top: $navbar-height + 5px;
    background-color: #E0E0E0;
    padding: 4px;
    border-bottom: 1px solid #999999;
    color: #7B7B7B;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.list-header-item {
  opacity: 0.5;
  margin-top: 2px;
  margin-right: 4px;
}

#loading-spinner {
  display: none;
  height: 75px;
  margin: 25px;
}

#load-more-container {
  display: none;
}

#load-more {
  margin: 10px;
}
