$navbar-height: 60px;

body {
  font-family: "arial";
  background-color: #F3F3F3;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}

#linksf {

  // padding-top: $navbar-height;
}
.btn-info{ 
	border: 1px solid #1C5E79;
}