// nav bar
nav {
  // anchor to top
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  height: $navbar-height - 2px; // border 1px
  background-color: $nav-background-color;

  border-bottom: solid #2B7490 1px;
  padding: 12px ($nav-button-width + 10px) 0 10px;
  text-align: center;
  font-weight: bold;

  a {
    color: #3081B7;
    text-decoration: none;
    font-weight: bold;
  }

  li {
    float: left;
    margin: 20px 0 20px 20px;
  }

  button {
    @include vertical-gradient($nav-background-color, #19658C);
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: black 1px 1px;
    width: $nav-button-width;
    border: 1px solid #0D2D39;
    border-radius: 6px;
  }

  button.left {
    float: left;
  }

  button.right {
    float: right;
  }

  button.filter {
    float: right;
    // background-color: #BDBDBD;
    // color: white;
    // width: 160px;
    // height: 40px;
    // margin-top: 10px;
    // margin-right: 10px;
    // border: 0;
  }

  .title {
    line-height: 40px;
    font-size: 30px;
    color: white;
  }

}


