// nav bar
nav {
  // anchor to top
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  height: $navbar-height;
  background-color: $nav-background-color;

  border-bottom: solid #2B7490 1px;
  padding: 4px 4px 0 4px;
  text-align: center;
  font-weight: bold;

  a {
    color: #3081B7;
    text-decoration: none;
    font-weight: bold;
  }

  li {
    float: left;
    margin: 20px 0 20px 20px;
  }

  button {
    @include vertical-gradient($nav-background-color, #19658C);
    height: 36px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-shadow: black 1px 1px;
    width: $nav-button-width;
    border: 1px solid #0D2D39;
    border-radius: 6px;
  }

  button.left { float: left; }
  button.right { float: right; }

  button.filter {
    float: right;
  }

  button.go-back {
    // width: 100px;
  }

  .title {
    line-height: 36px;
    font-size: 24px;
    color: white;
  }

}


