.row {
  display: flex;
  border-bottom: 1px solid #DCDCDC;
  padding: 10px 4px;
}

.btn {
  @include gray-button;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

i.category-icon {
  margin: 5px 10px;
}
