.location {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 12px 0 0 1px;
  font-size: 18px;
  color: #666;
  font-weight: 400;
}

.inset {
  border-radius: 6px;
  border: 1px solid #DDD;
  padding: 14px;
}

.insetMap {
  text-align: left;
  border: 1px solid #DDD;
  box-sizing: border-box;
  margin-bottom: 1px;
  border-radius: 6px;
  margin: 20px 0 1px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.map {
  height: 182px;
}

.address {
  margin: 0px;
  padding: 8px 8px 8px 12px;
  font-size: 14px;
}

.insetCall {
  margin: 20px 0 0 0;
  border-radius: 6px 6px 0 0;
  border: 1px solid #DDD;
  padding: 14px;
  display: flex;
}

.insetWebsite {
  margin: -1px 0 0 0;
  border: 1px solid #DDD;
  padding: 14px;
}

.insetDirections {
  cursor: pointer;
  margin: -1px 0 1px 0;
  border-radius: 0 0 6px 6px;
  border: 1px solid #DDD;
  padding: 14px;
  background-color: #fff;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.directionsLabel {
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
}

.contactLabel {
  font-weight: 700;
  margin-right: 15px;
}

.callPhone {
  color: #777;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.phone {
  text-decoration: none;
  color: #555;
}

.websiteUrl {
  text-overflow: ellipsis;
  overflow: hidden;
}

.website {
  word-wrap: break-word;
  text-decoration: none;
  color: #555;
}

.servicesList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.insetServices {
  margin: 12px 0 1px 0;
  padding: 14px;
  border: 1px solid #DDD;
  text-align: left;
  box-sizing: border-box;
  border-radius: 6px;
}

.serviceTitle {
  margin-top: 0;
  color: #666;
  font-size: 18px;
  font-weight: 400;
}

.serviceDescription {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

.openHours {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}

.labelHour {
  padding: 0 10px 0 0;
}

.hour {
  font-size: 14px;
}

.categoryIcons {
  display: flex;
}

.notes {
  background: #f3f3f3;
  padding: 8px;
  border-radius: 6px;
}
