<li>
  <div class="category btn" data-category="{{key}}">
    <i class="category-icon icon-{{icon}}"></i>{{name}}
    {{#if filter}}
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    {{/if}}
  </div>
</li>
