<div class="hours">
  <table>
  {{#each days}}
  <tr>
    <td> {{name}}: </td>
    <td> <input type="text" class="day" name="{{key}}" value="{{hours}}"> </td>
    <td> <label> <input type="checkbox" class="closed" name="{{key}}"> Closed </label> </td>
  </tr>
  {{/each}}
  </table>
</div>
