<div class="hours">
  <table>
  {{#each days}}
  <tr>
    <td> {{name}}: </td>
    <td> <input type="text" class="day hasPopover" name="{{key}}" value="{{hours}}" data-trigger="hover" data-content="example: 9am-3pm, 6pm-8pm"> </td>
    <td> <label> <input type="checkbox" class="closed" name="{{key}}"> Closed </label> </td>
  </tr>
  {{/each}}
  </table>
</div>
