<ul class="filter-categories btn-group">
  {{#each categories}}
    <li class="unselectable">
      <div class="category btn" data-value="{{key}}">
        <i class="category-icon icon-{{icon}}"></i>{{title}}
      </div>
    </li>
  {{/each}}
</ul>
