<nav>
  {{#if navButtons}}
    {{#each navButtons}}
      <button type="button"
        {{#if id}}id="{{id}}"{{/if}}
        {{#if class}}class="{{class}}"{{/if}}
        >{{text}}</button>
    {{/each}}
  {{/if}}
  <span class="title">Link-SF</span>
</nav>
