<nav>
  {{#if navButtons}}
    {{#each navButtons}}
      <button
        type="button"
        {{#if id}}id="{{id}}"{{/if}}
        class="unselectable {{class}}">
        {{text}}
      </button>
    {{/each}}
  {{/if}}
  <span class="title">Link-SF</span>
</nav>
