<nav>
  {{#if navButtons}}
    {{#each navButtons}}
      <button
        type="button"
        {{#if id}}id="{{id}}"{{/if}}
        class="unselectable {{class}}">
        {{text}}
      </button>
    {{/each}}
  {{/if}}
  <a class="logo" href="#"><img src="images/linksf_logo.png" alt="Link-SF"/></a>
</nav>
