{{#if facilities.length}}
	<div class="admin-filter">
		<span>Filter by Category: </span>
		{{> filterCategories}} <div class="category btn" data-value="">All</div>
	</div>
{{/if}}
<ul class="admin-list facility-list">
  {{#each facilities}}
    <li class="facility">
      <p class="facility-name"><a href="#/edit/{{this.objectId}}" class="facility-link">{{this.name}}</a></p>
      <p class="facility-address">{{this.address}}</p>
    </li>
  {{/each}}
  {{^facilities}}<p class="not-found">Sorry, no results found.</p>{{/facilities}}
</ul>
