{{#with facility}}
<div>
  <dl>
  <form Id="facilityForm" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="name">Facility Name</label>
      <div class="controls">
        <input type="text" name="name" value="{{name}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="address">Address</label>
      <div class="controls">
        <input type="text" name="address" value="{{address}}">
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label" for="phone">Phone</label>
      <div class="controls">
        <input type="text" name="phone" value="{{phone}}">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="notes">Notes</label>
      <div class="controls">
        <textarea name="notes">{{notes}}</textarea>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="gender">Gender</label>
      <div class="controls"> 
        <input type="radio" name="gender" id="gender_" value=""> Everyone<br/>
        <input type="radio" name="gender" id="gender_M" value="M"> Male</br>
        <input type="radio" name="gender" id="gender_F" value="F"> Female</br>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="age">Ages</label>
      <div class="controls"> 
        <input type="checkbox" name="age" id="age_everyone" value=""> Everyone<br/>
        <input type="checkbox" name="age" id="age_C" value="C"> Children<br/>
        <input type="checkbox" name="age" id="age_Y" value="Y"> Youth<br/>
        <input type="checkbox" name="age" id="age_A" value="A"> Adults<br/>
        <input type="checkbox" name="age" id="age_S" value="S"> Seniors<br/>
      </div>
    </div>
    {{#each services}}
      {{> editService}}
    {{/each}}
    <div class="control-group" style="padding-top:20px;">
      <div class="controls">
        <input type="button" id="submit" value='save changes' class="btn-large">
      </div>
    </div>
  </form>
</div>
{{/with}}
