{{> nav}}

<div id="filter">
  <h3>Sort by</h3>
  <div class="filter filter-sort btn-group row-fluid" data-toggle="buttons-radio">
    <button data-value="name" class="btn span6 active">Name</button>
    <button data-value="near" class="btn span6">Distance</button>
  </div>

  <h3>Service</h3>
  {{> filterCategories}}

  <h3>Suitable for</h3>
  <div class="filter filter-demographics btn-group row-fluid" data-toggle="buttons-checkbox">
    <button data-value="C" class="btn span3">Children</button>
    <button data-value="Y" class="btn span3">Teens/Youth</button>
    <button data-value="A" class="btn span3">Adults</button>
    <button data-value="S" class="btn span3">Seniors</button>
  </div>

  <h3>Restricted to</h3>
  <div class="filter filter-gender btn-group row-fluid" data-toggle="buttons-radio">
    <button data-value="A" class="btn span4 active">All</button>
    <button data-value="M"  class="btn span4">Men</button>
    <button data-value="F"  class="btn span4">Women</button>
  </div>

  <div class="search row-fluid">
    <button class="btn btn-info search-button span12">Search</button>
  </div>
</div>
