<ul class="categories btn-group" data-toggle="buttons-checkbox">
  <li>
    <button class="category btn" data-category="housing">
      <i class="category-icon icon-briefcase"></i>Housing
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    </button>
  </li>
  <li>
    <button class="category btn" data-category="food">
      <i class="category-icon icon-shopping-cart"></i>Food
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    </button>
  </li>
  <li>
    <button class="category btn" data-category="medical">
      <i class="category-icon icon-heart"></i>Medical
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    </button>
  </li>
  <li>
    <button class="category btn" data-category="hygiene">
      <i class="category-icon icon-tint"></i>Hygiene
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    </button>
  </li>
  <li>
    <button class="category btn" data-category="technology">
      <i class="category-icon icon-hdd"></i>Technology
      <div class="category-checkbox"><i style="display: none" class="icon-ok"></i></div>
    </button>
  </li>
</ul>
