{{> nav}}

<div id="index">
  <h3 class="title">What are you looking for?</h3>

  <form id="searchForm">
    <input type="submit" style="display:none;">
    <span class="categories-header">Type of Service</span>
    {{> filterCategories}}
  </form>

  <fieldset class="search">
    <label class="search-header">Search by Name</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-search"></i></span>
      <input id="search_name" type="text" placeholder="Key words">
    </div>
  </fieldset>
</div>
<footer>
  <a href="#/about">About</a>
</footer>
