<div id="index">
  <h3>What are you looking for?</h3>
  <ul class="categories">
    <li><button>Housing</button></li>
    <li><button>Food</button></li>
    <li><button>Medical</button></li>
    <li><button>Hygiene</button></li>
    <li><button>Technology</button></li>
  </ul>
</div>
