<div id="index">
  <h3 class="title">What are you looking for?</h3>

  <form id="search-form">
    <input type="submit" style="display:none;">
    <span class="filter-categories">Service</span>
    {{> filterCategories}}

    <div class="filter-name">Search by name</div>
    <input id="search-term" class="search-input" type="text" placeholder="Enter facility name...">
  </form>
</div>

<footer>
  <a href="#/about">About</a>
</footer>
