<div id="index">
  <h3>What are you looking for?</h3>
  <ul class="categories">
    <li><button data-category="housing">Housing</a></button></li>
    <li><button data-category="food">Food</button></li>
    <li><button data-category="medical">Medical</button></li>
    <li><button data-category="hygiene">Hygiene</button></li>
    <li><button data-category="technology">Technology</button></li>
  </ul>
</div>
