<div id="index">
  <nav>
    <h3>Link-sf</h3>
  </nav>

  <h3 class="title">What are you looking for?</h3>

  <span>Service</span>
  <ul class="categories">
    <li><button class="btn" data-category="housing"><i class="icon-briefcase"></i>Housing</button></li>
    <li><button class="btn" data-category="food"><i class="icon-shopping-cart"></i>Food</button></li>
    <li><button class="btn" data-category="medical"><i class="icon-heart"></i>Medical</button></li>
    <li><button class="btn" data-category="hygiene"><i class="icon-tint"></i>Hygiene</button></li>
    <li><button class="btn" data-category="technology"><i class="icon-hdd"></i>Technology</button></li>
  </ul>

  <p class="search" style="display: none"><button class="btn btn-info">Search</button></p>
</div>
