<ul>
  {{#each facilities}}
    <li>
      <div>
        <p class="name">{{this.name}}</p>
        <p class="services">{{this.address}}</p>
        <p>{{this.notes}}</p>
      </div>
    </li>
  {{/each}}
</ul>
