<ul id="facility-list">
  {{#each facilities}}
    <li class="facility">
      <p class="name">{{this.name}}</p>
      <p class="services">{{this.address}}</p>
      <p>{{this.notes}}</p>
    </li>
  {{/each}}
</ul>
