<div id="login">
  <form id="loginForm" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input type="text" id="email" size=20>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" size=20>
      </div>
    </div>
    <div class="controls">
      <input type="submit" id="submit" value="login" class="btn-large">
    </div>
    <div id="loginError">
      Sorry, we couldn't log you in.
    </div>
  </form>
</div>
