<form id="query">
  <div class="sorting">
    <input type="radio" name="sort" id="near" value="near">near me<br/>
    <input type="radio" name="sort" id="near" value="alpha">alphabetical<br/>
  </div>
  <div class="demographics">
    <input type="checkbox" name="filter[gender]" value="M">Men
    <input type="checkbox" name="filter[gender]" value="F">Women
    <input type="checkbox" name="filter[age][0]" value="C">Children
    <input type="checkbox" name="filter[age][1]" value="Y">Teens/Youth
    <input type="checkbox" name="filter[age][2]" value="A">Adults
    <input type="checkbox" name="filter[age][3]" value="S">Seniors
  </div>
  <div class="categories">
    <input type="checkbox" name="filter[categories][0]" value="food">Food
    <input type="checkbox" name="filter[categories][1]" value="medical">Medical
    <input type="checkbox" name="filter[categories][2]" value="housing">Housing
    <input type="checkbox" name="filter[categories][3]" value="technology">Technology
  </div>
  <div class="debug">
    <input type="checkbox" name="runwhere" id="runwhere" value="cloud" selected>Run In Cloud (defaults to running in browser)<br/>
  </div>
  <input type="submit" name="go" id="testSearch">
</form>
