.page {
  padding-top: 5px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoryIcon {
  display: inline-block;
  text-align: center;
  min-width: 18px;
  margin: 0 5px;
}

.categoryTitle {
  flex: 80%;
  text-align: left;
}

.button {
  cursor: pointer;
  background: inherit;
  border: none;
  border-top: 1px solid #B8B8B8;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 0 10px 10px;
  color: #999999;
  flex: 1 100%;
}
.button: last-child {
  border-bottom: 1px solid #B8B8B8;
}

.demographicsButton {

}

.demographicsTitle {
  flex: 90%;
  text-align: left;
}

.leftButton {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 0px;
}

.middleButton {
  border-right: 0px;
}

.rightButton {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: 1px solid #B8B8B8;
}

.serviceGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.service {
  background: inherit;
  border: none;
  border-top: 1px solid #B8B8B8;
  font-size: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 0;
  color: #999999;
  flex-flow: row wrap
}

.service: last-child {
  border-bottom: 1px solid #B8B8B8;
}

.title {
  color: #666;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.searchButton {
  background-color: #F3F3F3;
  background-image: linear-gradient(white,#EBEBEB);
  border: 1px solid #DCDCDC;
  border-radius: 13px;
  color: #989898;
  font-size: 8px;
  padding: 4px 7px;
  width: 100%;
  text-align: center;
  text-shadow: none;
  height: 25px;
  font-size: 10px;
}

.alert {
  color: #c09853;
  padding: 4px 18px 4px 7px;
  margin-bottom: 8px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 2px;
}

.active {
  color: #007AFF;
}

.toggleButton {
  border: none;
  color: #555;
  cursor: pointer;
  font-family: Helvetica,Arial,sans-serif;
  background: #FFFFFF;
  padding: 10px 22px;
  font-size: 30px;
  flex: 1 100%;
  line-height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

button:focus {
  outline:0;
}

.toggleButton:first-child {
  margin-right: 45px
}

button.enabled {
  background: #007aff;
  color: #FFF;
}

.buttonContainer {
  display: flex;
  margin-bottom: 10px
}

.genderButton {
  width: 100%;
  text-align: left;
  padding-left: 50px;
}

.genderLabel {
  color: #999999
}

.dropDown {
  display: none;
  list-style: none;
  padding-left: 50px;
  text-align: left;
  margin-top: 0;
  background: #FFF;
  font-size: 30px;
  color: #555;
  line-height: 40px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: -5px;
  z-index: 999;
  position: relative;
  cursor: pointer;
}

ul.enabled {
  display: block;
}

.header {
  font-size: 30px;
  line-height: 40px;
  margin: 50px 0 10px 0;
  color: #666;
  font-weight: 400;
}

.checkBox {
  flex: 10%;
}
