<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Link-SF</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="San Francisco website that connects homeless and low-income residents with critical and life-saving resources" />
    <link rel="stylesheet" href="../../vendor/css/qunit-1.14.0.css">
    <link rel="stylesheet" href="../../build/<%= appCss %>">
    <script>
      var config = {
        parseAppId: '<%= parseAppId %>',
        parseJsKey: '<%= parseJsKey %>'
      };
    </script>
  </head>

  <body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="../../build/<%= appJs %>"></script>
    <script src="../../vendor/js/qunit-1.14.0.js"></script>
    <script src="tests.js"></script>
    <div>
      <nav>
        <div class="nav-container">
          <a class="logo" href="#"><img src="../../img/link-sf.png" alt="San Francisco website that connects homeless and low-income residents with critical and life-saving resources"/></a>
        </div>
      </nav>
    </div>
    <div id="linksf"></div>
    <footer>
      <a title="Provide feedback about Link-SF" href="#/feedback">Feedback</a> &nbsp;&nbsp;&nbsp;
      <a title="More information about Link-SF" href="#/about">About</a>
    </footer>
  </body>
</html>
