module.exports = {
  domain: "<%= MAILGUN_DOMAIN %>",
  apiKey: "<%= MAILGUN_API_KEY %>",
  toEmailAddress: "<%= MAILGUN_TO_EMAIL_ADDRESS %>",
  fromEmailAddress: "<%= MAILGUN_FROM_EMAIL_ADDRESS %>"
};
