.admin-filter{
	width: 100%;
	background: #EDEDED;
	margin: 0 auto;
	ul {
		margin: 4px 0 4px 0;
		li{
			display: inline;
			float: left;
		}
	}
	span {
		padding-left: 5px;
	}
	i.category-icon {
		margin-right: 8px;
	}
}

